apiVersion: v1
kind: Service
metadata:
  name: pod-info-svc
spec:
  type: NodePort
  selector:
    app: nginx-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30300